<html xlmns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>

</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
        <ul>
            <li th:each="balloon : ${balloons}">
                <th:block th:text="${balloon.name}"></th:block>
            </li>
        </ul>
    <form th:method="POST">
<!--        <ul>-->
<!--            <li th:each="balloon : ${balloons}">-->
<!--                <input type="radio" name="balloonName" th:text="${balloon.name}"><br/></li>-->
<!--        </ul>-->

        <h2>Choose balloon color:</h2>

        <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
        <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
        <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
        <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>

        <br/>
        <!--        <a href="/selectBalloonSize.html">Submit</a>-->
        <input type="submit" th:value="Submit">
    </form>
</main>
</body>
</html>